<template>
  <div class="">
    <div class="flex min-h-screen flex-col   bg-gray-200">
      <AdminHeader :showLogin="true" />
      <main class="px-4 pt-20 grow  ">
        <div class=" mx-auto mt-2 md:mt-6 max-w-7xl">
          <slot />
        </div>
      </main>
      <AdminFooter />
    </div>
  </div>
</template>
<script setup>
</script>