<template>
  <div>
    <div class="card lg:card-side bg-base-100 shadow-xl mt-4">
      <div class="card-body">
        <h2 class="card-title">Dummy Signin</h2>
        <div class="w-full  ">
          <div class="max-w-xs mx-auto">
            <input v-model="dummy.ntid" type="text" placeholder="รหัสพนักงาน" class="input input-bordered input-error w-full max-w-xs mt-2" />
            <input v-model="dummy.name" type="text" placeholder="ชื่อ" class="input input-bordered input-error w-full max-w-xs mt-2" />
            <input v-model="dummy.email" type="text" placeholder="อีเมล" class="input input-bordered input-error w-full max-w-xs mt-2" />
          </div>

        </div>

        <div class="card-actions justify-center">
          <button @click="beginDummy" class="btn btn-warning">Dummy Login </button>
        </div>
      </div>
    </div>

  </div>
</template>
<script setup>
const dummy=ref({name:'Prachuap Klaithin',email:'Prachuap.k@ntplc.co.th',ntid:'01000062'});
const beginDummy=async ()=>{
  await useDummySignin(dummy.value);
}
</script>