<template>
  <div>
    <header class="fixed z-50 text-center bg-green-700">
      <div class="fixed bg-gray-500 navbar">
        <div class="flex-1">
          <a  class="text-xl normal-case btn btn-ghost">
            <img class="h-10 mr-1 -mt-3 -ml-2" :src="`${useBasePath()}/nt.png`" />
            <span class="text-xl ml-4 text-yellow-50">สถาบันวิชาการ</span></a>
        </div>        
      </div>
    </header>
  </div>
</template>
<script setup>

</script>

<style scoped>

</style>
