<template>
  <div>

    <div class="w-full gap-4 flex-wrap flex justify-center ">
      <div class="w-3/4">

        <AdminDummyForm />
        <div class="text-center mt-20">
          <NuxtLink  :to="`${useRuntimeConfig().public.authUrl}?callback=${callback}`" class="btn btn-info btn-outline btn-sm">HRD Login Page</NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup >
const callback='http://hrd.ntplc.co.th/myapp/';
</script>
