<template>
  <div>
    <ClientOnly>
      <div class="w-full gap-4 flex-wrap flex justify-center ">
        <div v-show="logindata" class="card lg:card-side bg-base-100 shadow-xl">
          <figure><img class="w-96" :src="`${useBasePath()}/images/area_w.jpg`" alt="Album" /></figure>
          <div class="card-body max-w-lg" v-if="logindata" >
            <h2 class="card-title">ยินดีต้อนรับ</h2>
            <p class="text-xl text-blue-600">{{ logindata.data.name }}</p>
            <p>{{ logindata }}</p>
            <p class="p-2 text-lg text-red-600" v-if="logindata?.isExp">Token หมดอายุ</p>
            <div>
              <button @click="getProfileData()" class="btn btn-info">Get Profile</button>
              <p>{{ profilefdata.hrnt }}</p>              
              <p class="p-2 text-lg text-red-600" v-if=" profilefdata.message">{{  profilefdata.message }}</p>
            </div>
            <div class="card-actions justify-end">
              <button @click="logout" class="btn btn-error">Logout</button>
            </div>
          </div>
        </div>
        <div v-if="!logindata" class="w-3/4">
          <div class="card lg:card-side bg-base-100 shadow-xl ">
            <div class="card-body" v-if="!isLoading">
              <h2 class="card-title">กรุณาเข้าสู่ระบบ</h2>
              <div class="card-actions justify-center">
                <NuxtLink :to="`${useGetLoginPage()}&callback=${callback}`" class="btn btn-info">HRD
                  Login Page</NuxtLink>
                <NuxtLink class="btn btn-error" to="/dummy">Dummy Login</NuxtLink>
              </div>
              <div class="w-full mx-auto">
                <div>Callback URL</div>
                <input v-model="callback" type="text" placeholder="Callback"
                  class="input input-bordered input-error w-full max-w-full mt-2" />
              </div>
            </div>
            <div v-else class="w-full p-20 mx-auto text-2xl">
              Loading
            </div>
          </div>
        </div>
      </div>
    </ClientOnly>
  </div>
</template>
<script setup >
import { useStorage } from "@vueuse/core";
const callback = ref('http://hrd.ntplc.co.th/myapp/');
const logindata = ref();
const profilefdata = ref({});
const isLoading = ref(true);
const route = useRoute();
let token = '';
const state = useStorage("tokenstr", null);
if (route.query.t) {
  //console.log('TT',route.query);
  state.value = route.query.t;
  setTimeout(() => {
    logindata.value = useCheckLogin(state.value);
    isLoading.value = false;
    navigateTo("/");
  }, 200);

} else {
  logindata.value = useCheckLogin();
  isLoading.value = false;
}
const getProfileData= async()=>{
  const { data} = await useGetProfile();
  profilefdata.value=data?._value;
}
const logout = () => {
  isLoading.value = false;
  logindata.value = '';
  useLogout();
  navigateTo("/");
}
</script>
